@{
    ViewData["Title"] = "О нашей компании";
}
<h2>@ViewData["Title"]</h2>


<p>Компания AUTOGREAT готова предложить Вам широкий ассортимент услуг по продаже и выкупу автомобилей.</p>
<p>В него входят: </p>
    <ul>
        <li>
            продажа авто с пробегом<a asp-controller="Home" asp-action="Sell" class="">
                <img alt="..." src="~/images/arrow_blue_15.png" class="" />
            </a>
        </li>
        <li>выкуп авто с пробегом<a asp-controller="Home" asp-action="Buy" class="">
    <img alt="..." src="~/images/arrow_blue_15.png" class="" />
</a></li>
        <li><strong>срочный</strong> выкуп кредитных автомобилей<a asp-controller="Home" asp-action="Buy" class="">
    <img alt="..." src="~/images/arrow_blue_15.png" class="" />
</a></li>
        <li>прием автомобиля на комиссионную продажу<a asp-controller="Home" asp-action="Buy" class="">
    <img alt="..." src="~/images/arrow_blue_15.png" class="" />
</a></li>
        <li><abbr title="возможность поменять свой старый автомобиль на новый из автосалона, оплатив лишь разницу в цене" >Trade-In*</abbr><a asp-controller="Home" asp-action="TradeIn" class="">
    <img alt="..." src="~/images/arrow_blue_15.png" class="" />
</a></li>
        <li>автокредитование<a asp-controller="Home" asp-action="Credit" class="">
    <img alt="..." src="~/images/arrow_blue_15.png" class="" />
</a></li>
    </ul>
<p>кроме того мы готовы предложить Вам дополнительные услуги: </p>
<ul>
    <li>постановка/снятие с учета</li>
    <li>автострахование (КАСКО, ОСАГО)</li>
    <li><strong>бесплатная</strong> оценка автомобилей</li>
    <li>мойка автомобиля</li>
    <li>предпродажная подготовка</li>
    <li>бесплатная охраняемая стоянка на все время продажи автомобиля</li>
    <li>реклама продаваемых автомобилей на интернет ресурсах и в печатных изданиях</li>
</ul>

<p>Сегодня «AUTOGREAT» имеет возможность предложить на Ваш выбор большой парк автомобилей иностранного и отечественного производства на любой бюджет.</p>
<p>На просторной демонстрационной площадке Вы сможете оценить все автомобили и ознакомится с каждым индивидуально. При желании испытать ходовые качества автомобиля.</p>
<p>Если Вы не нашли подходящий автомобиль в нашем каталоге, не расстраивайтесь. Вы можете написать нам, указав все свои предпочтения по автомобилю, и сотрудники нашей компании подберут автомобиль, полностью удовлетворяющий Вашим критериям.</p>
<p>Мы понимаем, что продажа автомобилей с пробегом накладывает дополнительные обязательства на продавца, поэтому все автомобили, продаваемые в «AUTOGREAT» прошли тщательную диагностику технического состояния
    <abbr title="диагностика и оценка технического состояния всех автомобилей осуществляется квалифицированными специалистами нашей компании визуально. Любой представленный на площадке автомобиль мы можем предоставить для проведения любой диагностики на профессиональном оборудовании, которая поможет Вам определить, участвовал ли автомобиль в ДТП, есть ли в автомобиле узлы, подвергнувшиеся деформации при воздействиях, а также проверить состояние ходовой части и трансмиссии и т.д. Диагностика может проводиться в любой техцентре на Ваше усмотрение.">*</abbr>
     и юридическую проверку</p>.
<p>
    Мы всегда готовы помочь Вам в решении всех вопросов связанных с покупкой или продажей автомобиля и будем рады видеть Вас в AUTOGREAT.
</p>
<p style="font-size:x-small">
    * trade-in (трейд-ин) — это возможность поменять свой старый автомобиль на новый из автосалона, оплатив лишь разницу в цене. 
</p>

<p style="font-size:x-small">
    ** диагностика и оценка технического состояния всех автомобилей осуществляется квалифицированными специалистами нашей компании визуально. Любой представленный на площадке автомобиль мы можем предоставить для проведения любой диагностики на профессиональном оборудовании, которая поможет Вам определить, участвовал ли автомобиль в ДТП, есть ли в автомобиле узлы, подвергнувшиеся деформации при воздействиях, а также проверить состояние ходовой части и трансмиссии и т.д. Диагностика может проводиться в любой техцентре на Ваше усмотрение.
</p>
