@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Выкуп Вашего автомобиля";
}
<h1 class="avtogreat-text-days-red">Мы купим дороже <abbr title="чем конкуренты">*</abbr></h1>
 
<h3>
    Наши преимущества
</h3> 
    <ul>
        <li><h4>до 95% от рыночной стоимости</h4></li>
        <li><h4>деньги наличными сразу</h4></li>
        <li><h4>оформляем договор купли-продажи</h4></li>
        <li><h4>оформление не более 30 минут</h4></li>
    </ul>

    <p>
        Нужно срочно продать авто, но покупателя еще не нашли? Присмотрели новый автомобиль, но еще не продали старый? Срочно нужны деньги на покупку квартиры? Или просто на личные нужды? Тогда вам можно порекомендовать такую новую услугу, как срочный выкуп авто. Продать машину сегодня проще как никогда, убедитесь в этом сами!
    </p>
    <h2 class="avtogreat-text-days-red text-center">
        <a href="tel:+7-908-630-0008" id="seller-phone" class="inactive">
            Звоните
            <span class="glyphicon glyphicon-phone"></span>
            +7 908 630 00 08
        </a>
    </h2>
