@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Выкуп Вашего автомобиля";
}
<h1>@ViewData["Title"]</h1>
<p>Мы готовы предоставить вам высокую стоимость вашего автомобиля - до 95% рыночной стоимости. Все работы, связанные с оформлением документов, возьмем на себя.</p>

<p>
     Вы хотите расчет наличными? Безналичными? Приобрести у нас машину с зачетом средств от продажи Вашей в счет стоимости новой? Выбор за Вами!
</p>

    <h2>Cрочный выкуп автомобилей</h2>
<p>Даже если ваше авто неисправно, либо требует какие нибудь вложения, Вы все равно можете получить за него достойную цену. Мы ценим ваше время, поэтому не нужно приезжать к нам только для того, чтобы договориться об оценке или продаже транспортного средства – все это можно сделать онлайн или по телефону. Персональный менеджер ответит на все ваши вопросы. Срочно, значит, безотлагательно.</p>
<br />


    <p>
    Если вы все еще колеблетесь, обращаться ли к нам или продавать автомобиль «своими силами», подумайте вот о чем:
</p>
<ul>
    <li>Готовы ли вы потратить массу времени и денег на объявления о продаже авто? А знаете ли вы как запустить успешную кампанию по продаже авто?</li>
    <li>Готовы ли вы самостоятельно найти покупателя? При хорошем раскладе это займет несколько недель. Обратившись к нам, вы уже нашли и оценщика, и покупателя.</li>
    <li>Готовы ли вы принять на веру все, что скажут вам в сервисном центре при проведении диагностики, да еще и оплатить это? Наш оценщик приедет к Вам и произведет оценку, совершенно бесплатно. Удобно, не правда ли!?</li>
    <li>Сможете ли вы отстоять желаемую цену во время переговоров с потенциальным покупателем?</li>
    <li>Будете ли вы уверены, что ваша сделка юридически чиста? Мы выполним все необходимые процедуры, а на оформление документов уйдет действительно очень мало времени.</li>
</ul>
    
   <p> 
    У наших клиентов таких вопросов даже не возникает. Просто позвоните по нашим телефонам или оставьте заявку на срочный выкуп авто на сайте. 
       </p>
<h2>Продать подержанную машину с «AUTOGREAT» - это просто!</h2>
<ul>
    <li>паспорт транспортного средства (ПТС)</li>
    <li>транзитные номера (если такие выдавались)</li>
    <li>личный паспорт владельца автомобиля или его законного представителя</li>
    <li>полный комплект ключей</li>
    <li>генеральная доверенность (если Вы не являетесь собственником машины)</li>
    <li>сервисная книжка и другие документы о регулярном прохождении ТО (желательно)</li>
    <li>справка из банка о погашении задолженности по кредиту (если машина куплена в кредит)</li>
</ul>    

