@{
    ViewData["Title"] = "Комиссионная продажа автомобиля";
}
<h1 class="avtogreat-text-days-red">КАК ПРОДАТЬ АВТОМОБИЛЬ ПО ВЫГОДНОЙ ЦЕНЕ, НЕ ТРАТЯ ВРЕМЯ НА ПОКАЗЫ, СПОРЫ О ЦЕНЕ, ПОИСК ПОКУПАТЕЛЕЙ?</h1>
<h3>КОМИССИОННАЯ ПРОДАЖА В КОМПАНИИ AVTOGREADE ЭТО:</h3>
<ul>
    <li>Быстрая продажа вашего автомобиля по выгодной для вас цене.</li>
    <li>Эффективная рекламная поддержка на самых популярных автомобильных ресурсах.</li>
    <li>Опытные и квалифицированные менеджеры по продажам</li>
    <li>Бесплатная стоянка, мойка, охрана автомобиля + предпродажная подготовка</li>
    <li>Гарантия юридической чистоты и прозрачности сделки</li>
</ul>
<br />
<h4>НЕОБХОДИМЫЕ ДОКУМЕНТЫ:</h4>
<ul>
    <li>ПТС</li>
    <li>Свидетельство о регистрации ТС</li>
    <li>Ваш паспорт</li>
    <li>Все комплекты ключей</li>
    <li>Генеральная доверенность (если вы не собственник)</li>
    <li>Талон технического осмотра (желательно)</li>
    <li>Документы о сервисном обслуживании (желательно)</li>
</ul>
    <h2 class="avtogreat-text-days-red text-center">
        <a href="tel:+7-908-630-0008" id="seller-phone" class="inactive">
            Звоните
            <span class="glyphicon glyphicon-phone"></span>
            +7 908 630 00 08
        </a>
    </h2>
