@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>


<address>
    Мы открыты с 10-00 до 20-00 по адресу<br />
    620141, г. Екатеринбург, <br />
    <strong>ул. Автомагистральная, 12</strong><br />
</address>
<address>
    <strong>Ждем Ваших звонков по телефонам</strong><br />
    +79086300008<br />
    +79826565551<br />
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:info.avtogreat@mail.ru">info.avtogreat@mail.ru</a><br />
</address>
