@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Автокредитование";
}
<h1 class="avtogreat-text-days-red">@ViewData["Title"]</h1>

<p>Если Вы хотите приобрести авто с пробегом в салоне «AUTOGREAT», но не располагаете требуемой суммой, то воспользуетесь автокредитом!</p>

<h3>Преимущества услуги «автокредит» в «AUTOGREAT»:</h3>
                                                      <ol>
                                                          <li>ответ из банка по заявке и оформление документов за 1 час</li>
                                                          <li>минимальный пакет документов - паспорт и водительское удостоверение</li>
                                                          <li>лучшие ставки кредитования - от 16% в USD, от 15% в рублях</li>
                                                          <li>возможность досрочного погашения кредита без каких-либо ограничений</li>
                                                          <li>более 10-ти банков-партнёров</li>
                                                          <li>личный кредитный специалист</li>
                                                          <li>оформить кредит могут жители любого региона России</li>
                                                      </ol>

<p>Также у нас действует возможность получения автокредита, даже если Вы приобретаете автомобиль не у нас.</p>

<h3><i>Уникальный вариант - мы примем Ваш старый автомобиль в качестве первоначального взноса!</i></h3>

<p>Оформить кредит на автомобиль с пробегом в «AUTOGREAT» можно в четыре этапа:</p>
<ol>
    <li>выбор желаемого автомобиля</li>
    <li>оформление заявки в офисе и её рассмотрение в течении часа</li>
    <li>внесение первоначального взноса за автомобиль после одобрения заявки банком, оформление всех необходимых документов нашим специалистом</li>
    <li>подписание договора купли-продажи и наслаждение покупкой</li>
</ol>


<p>Приобретение подержанного автомобиля в кредит очень давно стало удобной и популярной услугой в Екатеринбурге и области, что доказывается огромным числом довольных клиентов.</p>

<h2 class="avtogreat-text-days-red text-center">
    <a href="tel:+7-908-630-0008" id="seller-phone" class="inactive">
        Звоните
        <span class="glyphicon glyphicon-phone"></span>
        +7 908 630 00 08
    </a>
</h2>