@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Images/jbt_slide1.jpg" alt="Контакты" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p style="color:mediumaquamarine">
</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/jbt_slide2.jpg" alt="Trade-In" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Action("Index", "Finder")
    </div>
    <div class="col-md-3">
        <h2>Новые поступления</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="TradeIn">Машина 1</a></li>
            <li><a asp-controller="Home" asp-action="TradeIn">Машина 2</a></li>
            <li><a asp-controller="Home" asp-action="TradeIn">Машина 3</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Интересное в сети</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="Contact">Конаткты</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Где мы?</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Как позвонить</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Акции</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="Buy">Купим!</a></li>
            <li><a asp-controller="Home" asp-action="Buy">Быстро!</a></li>
            <li><a asp-controller="Home" asp-action="Buy">Реализуем!</a></li>
            <li><a asp-controller="Home" asp-action="Buy">Заплатим!</a></li>
        </ul>
    </div>
</div>
