@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Каталог";
}
<h1>@ViewData["Title"]</h1>
<p>Наши менеджеры готовы уже готовы помочь Вам выбрать Вашу новую машину, пожалуйста позвоните нам.</p>
<p>Таки у нас полный каталог разных автомобилей с пробегом, но мы его еще не положили сюда, но он есть.</p>

