@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Trade-In";
}
<h1 class="avtogreat-text-days-red">@ViewData["Title"]</h1>

<p>Вот вы решили сделать обмен авто на авто поновее. Если разобраться, вы неизбежно сталкиваетесь с необходимостью оформления двух сделок: продажи старой и покупки новой машины. Выгодной альтернативой традиционному подходу может стать услуга «автомобили трейд ин» (руссифицированное auto trade in).</p>
<p>Купить автомобиль по системе Трейд ин можно, пройдя несколько этапов.</p>
<ul>
    <li>Звонок в нашу компанию и Ваш визит. Уточнить возможность приобретения автомобиля Вы можете по телефону. После предварительных переговоров Вам потребуется приехать на своем автомобиле в наш автосалон и предоставить необходимый пакет документов</li>
    <li>Техосмотр. На данном этапе наши специалисты проводят детальную экспертизу технического состояния транспорта. Данная процедура позволяет нам определить стоимость на настоящий момент и его потенциальный вклад в оплату Вашей будущей покупки</li>
    <li>Юридическая проверка и оценка. После проведения техосмотра наш юридический отдел проверяет автомобиль клиента на предмет законности проведенных с ним финансовых и технических операций. При соответствии документации требованиям законодательства РФ мы определяем окончательную цену и разрабатываем порядок оплаты остаточной стоимости</li>
    <li>Составление и подписание договора. После достижения соглашения о доле стоимости Вашего транспортного средства в оплате нового транспортного средства составляется договор, определяющий права и обязанности сторон в отношении предстоящей сделки</li>
    <li>Снятие транспортного средства с учета. После подписания договора автовладелец снимает машину с учета в органах ГИБДД. Затем автомобилю присваиваются транзитные номера (на 20 дней) и ставится отметка в ПТС</li>
    <li>Получение авто. Если выбранная Вами модель есть в наличии в нашем автосалоне, Вы можете совершить trade in (на русском - обмен авто) в день снятия подержанного автомобиля с учета в ГИБДД. В ином случае, машина будет доставлена под заказ в сроки, оговоренные договором</li>
</ul>
<p>
Оформление подержанного автoмoбиля в качестве первого взноса за новую машину осуществляется с предоставлением автовладельцем:
    </p>
<ul>
    <li>оригинала паспорта транспортного средства, гражданского паспорта владельца автомобиля</li>
    <li>свидетельства о регистрации автомобиля (до снятия с учета), транзитных номеров (после снятия автомобиля с учета)</li>
    <li>справки из банка о состоянии лицевого счета клиента (если первоначальная покупка была сделана в кредит)</li>
    <li>полного комплекта ключей</li>
    <li>генеральной доверенности (в случае, если обмен кредитного б/у автомобиля, или выплаченного, производит представитель собственника)</li>
    <li>сервисной книжки и прочих документов о регулярном прохождении ТО</li>
</ul>
<p>
    <strong>Экономия времени.</strong> Принимая решение воспользоваться услугой trade in, Вы получаете возможность совершить возложить все трудности процесса на наши плечи и получить новый автомобиль в течение 1-2 часов.
</p>
<p>
    <strong>Безопасность сделки.</strong> Приобретая машину в обмен по системе Трейд ин, Вы получаете юридическую поддержку со стороны автосалона, гарантирующую правомочность материально-финансовых операций.
</p>
<p>
    <strong>Возможность покупки в кредит.</strong> Ваша б/у машина может выступать в качестве первого взноса за новую машину. Недостающую сумму Вы можете получить в кредит, обратившись к представителю банка в нашем автосалоне. Так вы выполняете, своего рода, обмен старого авто с пробегом на другое с доплатой.
</p>
<p>
    <strong>Гарантия исправности автомобиля.</strong> Совершая обмен по системе Трейд ин, Вы приобретаете средство передвижения, исправность которого гарантируется производителем или технической службой салона.
</p>
<p>
    Дополнительную информацию Вы можете получить по телефонам, указанным в разделе Контакты<a asp-controller="Home" asp-action="Contact" class="">
    <img alt="..." src="~/images/arrow_blue_15.png" class="" />
</a>
</p>