@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Trade-In";
}
<h1 class="avtogreat-text-days-red">Меняемся?</h1>
<h2>У нас большой выбор автомобилей с пробегом, и мы готовы поменяться с вами.</h2>
<p>
    <h4>
        В нашем автосалоне процедура обмена автомобилями по системе трейд ин происходит следующим образом:
    </h4>
        <ul>
            <li>Мы проводим предварительную оценку клиентского автомобиля</li>
            <li>Осматриваем и проводим комплексную техническую диагностику</li>
            <li>Оформляем двусторонний договор купли-продажи</li>
            <li>Наши опытные специалисты подберут для вас самый подходящий вариант и при необходимости предложат выгодную кредитную политику</li>
        </ul>


</p>
<h2 class="avtogreat-text-days-red text-center">
        <a href="tel:+7-908-630-0008" id="seller-phone" class="inactive">
            Звоните
            <span class="glyphicon glyphicon-phone"></span>
            +7 908 630 00 08
        </a>
</h2>
