@model IEnumerable<autogreatsite_mvc45.Models.Car>


@{
    ViewBag.Title = "Наш каталог";
}

<h2>Наш каталог</h2>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#fffinder">
    Показать поиск
</button>

<div  id="fffinder" class="collapse in">
    @Html.Action("Longview", "Finder")
</div>


    @Html.Partial("_CarsList", Model)
